<!-- Add Person Modal -->
<div class="modal fade" id="addPersonModal" tabindex="-1" role="dialog" aria-labelledby="addPersonModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Create a new record</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="first-name" class="control-label">First Name:</label>
            <input type="text" class="form-control" id="firstName">
          </div>
          <div class="form-group">
            <label for="last-name" class="control-label">Last Name:</label>
            <input type="text" class="form-control" id="lastName">
          </div>
          <div class="form-group">
            <label for="birthdate" class="control-label">Birthdate:</label>
            <input type="date" class="form-control" id="birthdate">
          </div>
          <div class="form-group">
            <label for="gender" class="control-label">Gender:</label>
            <input type="radio" name="gender" value="M" checked="checked" id="gender-M"> Male
            <input type="radio" name="gender" value="F" id="gender-F"> Female
          </div>
          <div class="form-group">
            <label for="address-text" class="control-label">Address:</label>
            <textarea class="form-control" id="homeAddress"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="create-person">Save</button>
      </div>
    </div>
  </div>
</div>